<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imooc.mallsecond.dao.CategoryMapper">
    <select id="queryById" resultType="com.imooc.mallsecond.pojo.Category">
        SELECT * FROM mall_category WHERE id = #{id}
    </select>

</mapper>